p {
    color: #7A7A7A;
}

h1 {
    color: #eca30b;
    text-align: center;
    font-weight: 600;
}


.tarjetas .col{
    padding-bottom: 40px;
}

a {
    text-decoration: none;
}
.tarjetas .col h5{
    color: #eca30b;
    font-weight: 600;
    text-align: center;
    
}

.tarjetas .col .card:hover {
    border: #eca30b solid 1px;
}

.tarjetas img {
width: 100%;
height: 250px;
}


.footer{
    text-align: center;
    color: #7A7A7A;
    background-color: #c2c2c2;
    padding: 20px;
}